<!DOCTYPE html>
<html>
  <head>
    <meta content="utf-8">
    <title>Checkout</title>
  </head>
  <body>
    <form action="/checkout" method="post">
      <input type="text" id="checkout" name="checkout">
      <input type="submit" value="submit">
    </form>
  </body>
</html>
